<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../plugins/images/favicon.png">
    <title>DrDone Admin</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('assets/admin/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="{{asset('assets/admin/plugins/sidebar-nav/dist/sidebar-nav.min.css')}}" rel="stylesheet">
    <!-- toast CSS -->
    <link href="{{asset('assets/admin/plugins/toast-master/css/jquery.toast.css')}}" rel="stylesheet">
    <!-- morris CSS -->
    <link href="{{asset('assets/admin/plugins/morrisjs/morris.css')}}" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="{{asset('assets/admin/plugins/chartist-js/dist/chartist.min.css')}}" rel="stylesheet">
    <link href="{{asset('assets/admin/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css')}}" rel="stylesheet">
    <!-- Calendar CSS -->
    <link href="{{asset('assets/admin/plugins/calendar/dist/fullcalendar.css')}}" rel="stylesheet" />
    <!-- animation CSS -->
    <link href="{{asset('assets/admin/css/animate.css')}}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{asset('assets/admin/css/style.css')}}" rel="stylesheet">
    <!-- color CSS -->
    <link href="{{asset('assets/admin/css/colors/blue-dark.css')}}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header">
<!-- ============================================================== -->
<!-- Preloader -->
<!-- ============================================================== -->
<div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
</div>
<!-- ============================================================== -->
<!-- Wrapper -->
<!-- ============================================================== -->
<div id="wrapper">
    {{ include('admin/layout/topbar.html.twig') }}

    {{ include('admin/layout/left-sidebar.html.twig') }}
    <!-- ============================================================== -->
    <!-- Page Content -->
    <!-- ============================================================== -->
    <div id="page-wrapper">
        <div class="container-fluid">
           {% block body %}{% endblock %}
        </div>
        <!-- /.container-fluid -->
        <footer class="footer text-center"> 2020 &copy; DrDone Admin </footer>
    </div>
    <!-- ============================================================== -->
    <!-- End Page Content -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{{asset('assets/admin/plugins/jquery/dist/jquery.min.js')}}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{asset('assets/admin/js/bootstrap.min.js')}}"></script>
<!-- Menu Plugin JavaScript -->
<script src="{{asset('assets/admin/plugins/sidebar-nav/dist/sidebar-nav.min.js')}}"></script>
<!--slimscroll JavaScript -->
<script src="{{asset('assets/admin/js/jquery.slimscroll.js')}}"></script>
<!--Wave Effects -->
<script src="{{asset('assets/admin/js/waves.js')}}"></script>
<!--Counter js -->
<script src="{{asset('assets/admin/plugins/waypoints/lib/jquery.waypoints.js')}}"></script>
<script src="{{asset('assets/admin/plugins/counterup/jquery.counterup.min.js')}}"></script>
<!--Morris JavaScript -->
<script src="{{asset('assets/admin/plugins/raphael/raphael-min.js')}}"></script>
<script src="{{asset('assets/admin/plugins/morrisjs/morris.js')}}"></script>
<!-- chartist chart -->
<script src="{{asset('assets/admin/plugins/chartist-js/dist/chartist.min.js')}}"></script>
<script src="{{asset('assets/admin/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js')}}"></script>
<!-- Calendar JavaScript -->
<script src="{{asset('assets/admin/plugins/moment/moment.js')}}"></script>
<script src='{{asset('assets/admin/plugins/calendar/dist/fullcalendar.min.js')}}'></script>
<script src="{{asset('assets/admin/plugins/calendar/dist/cal-init.js')}}"></script>
<!-- Custom Theme JavaScript -->
<script src="{{asset('assets/admin/js/custom.min.js')}}"></script>
<script src="{{asset('assets/admin/js/dashboard1.js')}}"></script>
<!-- Custom tab JavaScript -->
<script src="{{asset('assets/admin/js/cbpFWTabs.js')}}"></script>
<script type="text/javascript">
    (function() {
        [].slice.call(document.querySelectorAll('.sttabs')).forEach(function(el) {
            new CBPFWTabs(el);
        });
    })();
</script>
<script src="{{asset('assets/admin/plugins/toast-master/js/jquery.toast.js')}}"></script>
<!--Style Switcher -->
<script src="{{asset('assets/admin/plugins/styleswitcher/jQuery.style.switcher.js')}}"></script>
{% block external_javascript %}{% endblock %}
{% include 'admin/flashbag.html.twig' %}
</body>

</html>
