{% extends 'front/base.html.twig' %}
{% block section %}
    <section>
        <div class="container">
            <div class="row">
                {% include 'front/sections/product/product-sidebar.html.twig' %}

                <div class="col-sm-9 padding-right">
                    <div class="product-details"><!--product-details-->
                        <div class="col-sm-5">
                            <div class="view-product">
                                {% set thumbnail = product.images[0].url | default('none-img.png') %}
                                <a href=""><img class="img-thumbnail img-thumbnail-sm" src="{{ asset(thumbnail ) }}"  id="active-image" alt=""></a>
                            </div>
                            <div id="similar-product" class="" data-ride="carousel">

                                <!-- Wrapper for slides -->
                                <div class="owl-carousel owl-theme">
                                    {% for image in product.images %}
                                        <img src="{{ asset(image.url)}}" class="img-thumbnail" style="height: 50px" alt="">
                                    {% endfor %}
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-7">
                            <div class="product-information"><!--/product-information-->
                                <img src="images/product-details/new.jpg" class="newarrival" alt="" />
                                <h2>{{product.title}}</h2>
                                <p>Web ID: {{product.id}}</p>
{#                                <img src="images/product-details/rating.png" alt="" />#}
                                <span>
									<span>{{ product.price }} TL</span>
									<label>Adet: </label>
									<input type="text" value="{{product.quantity}}" readonly aria-readonly="true" />
									<a type="button" class="btn btn-fefault cart" href="mailto:{{ product.user.email }}">
                                         İrtibata Geç
                                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
									</a>
								</span>
                                <p><b>Durum:</b> {% if product.isSold %} Satıldı {% else %} Stok Var {% endif %}</p>
                                <p><b><i class="fa fa-user-o" aria-hidden="true"></i> Satıcı:</b> {{ product.user.username }}</p>
                                <p><b><i class="fa fa-calendar-o"></i> Eklenme Tarihi:</b> {{ product.createdAt| date('d M Y') }}</p>
                                <p>
                                    {% set wishlistObj = product | isInWhishlist %}
                                    {% if wishlistObj %}
                                <span><a data-href="{{ path('product_whislist_toggle',{'handle':product.handle}) }}" data-callback-success="toggleWishlist('removed')" class="ajaxRequest btn btn-default"><i class="fa fa-minus-square"></i> İstek Listemden Çıkar</a></span>
                                {% else %}
                                <span><a data-href="{{ path('product_whislist_toggle',{'handle':product.handle}) }}" data-callback-success="toggleWishlist('added')" class="ajaxRequest btn btn-default"><i class="fa fa-plus-square"></i> İstek Listeme Ekle</a></span>
                                {% endif %}
                                </p>
                                <span class="row user-card">
                                        <div class="col-sm-12">
                                                <h5><b>{{ product.user.username }}</b></h5>
                                                <div class="user-info">Üyelik Tarihi {{ product.user.createdAt | date('M Y') }}</div>
                                                <h4><b>{{ product.user.email }}</b></h4>
                                                {% if product.user.phone %}<div class="user-phone"><i class="fa fa-phone" aria-hidden="true"></i> {{ product.user.phone }}</div>{% endif %}
                                        </div>
                                    </span>
                            </div><!--/product-information-->
                        </div>
                    </div><!--/product-details-->

                    <div class="category-tab shop-details-tab"><!--category-tab-->
                        <div class="col-sm-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
{#                                <li><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>#}
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade active in" id="details" >
                                <div class="row">
                                    <p class="m-20">
                                        {{ product.description }}
                                    </p>
                                </div>
                            </div>

{#                            <div class="tab-pane fade" id="reviews" >#}
{#                                <div class="col-sm-12">#}
{#                                    <ul>#}
{#                                        <li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>#}
{#                                        <li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>#}
{#                                        <li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>#}
{#                                    </ul>#}
{#                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>#}
{#                                    <p><b>Write Your Review</b></p>#}

{#                                    <form action="#">#}
{#										<span>#}
{#											<input type="text" placeholder="Your Name"/>#}
{#											<input type="email" placeholder="Email Address"/>#}
{#										</span>#}
{#                                        <textarea name="" ></textarea>#}
{#                                        <b>Rating: </b> <img src="images/product-details/rating.png" alt="" />#}
{#                                        <button type="button" class="btn btn-default pull-right">#}
{#                                            Submit#}
{#                                        </button>#}
{#                                    </form>#}
{#                                </div>#}
{#                            </div>#}

                        </div>
                    </div><!--/category-tab-->

                    <div class="recommended_items"><!--recommended_items-->
                        <h2 class="title text-center">Satıcının Diğer ürünleri</h2>
                        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    {% if otherProducts %}
                                        <div class="row">
                                            <div class="product-list">
                                                {% for product in otherProducts %}
                                                    {% include 'front/sections/product/single-product.html.twig' with {'col':4} %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
{#                            <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">#}
{#                                <i class="fa fa-angle-left"></i>#}
{#                            </a>#}
{#                            <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">#}
{#                                <i class="fa fa-angle-right"></i>#}
{#                            </a>#}
                        </div>
                    </div><!--/recommended_items-->
{#                    <div class="recommended_items"><!--recommended_items-->#}
{#                        <h2 class="title text-center">recommended items</h2>#}

{#                        <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">#}
{#                            <div class="carousel-inner">#}
{#                                <div class="item active">#}
{#                                    <div class="col-sm-4">#}
{#                                        <div class="product-image-wrapper">#}
{#                                            <div class="single-products">#}
{#                                                <div class="productinfo text-center">#}
{#                                                    <img src="images/home/recommend1.jpg" alt="" />#}
{#                                                    <h2>$56</h2>#}
{#                                                    <p>Easy Polo Black Edition</p>#}
{#                                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-sm-4">#}
{#                                        <div class="product-image-wrapper">#}
{#                                            <div class="single-products">#}
{#                                                <div class="productinfo text-center">#}
{#                                                    <img src="images/home/recommend2.jpg" alt="" />#}
{#                                                    <h2>$56</h2>#}
{#                                                    <p>Easy Polo Black Edition</p>#}
{#                                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-sm-4">#}
{#                                        <div class="product-image-wrapper">#}
{#                                            <div class="single-products">#}
{#                                                <div class="productinfo text-center">#}
{#                                                    <img src="images/home/recommend3.jpg" alt="" />#}
{#                                                    <h2>$56</h2>#}
{#                                                    <p>Easy Polo Black Edition</p>#}
{#                                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="item">#}
{#                                    <div class="col-sm-4">#}
{#                                        <div class="product-image-wrapper">#}
{#                                            <div class="single-products">#}
{#                                                <div class="productinfo text-center">#}
{#                                                    <img src="images/home/recommend1.jpg" alt="" />#}
{#                                                    <h2>$56</h2>#}
{#                                                    <p>Easy Polo Black Edition</p>#}
{#                                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-sm-4">#}
{#                                        <div class="product-image-wrapper">#}
{#                                            <div class="single-products">#}
{#                                                <div class="productinfo text-center">#}
{#                                                    <img src="images/home/recommend2.jpg" alt="" />#}
{#                                                    <h2>$56</h2>#}
{#                                                    <p>Easy Polo Black Edition</p>#}
{#                                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="col-sm-4">#}
{#                                        <div class="product-image-wrapper">#}
{#                                            <div class="single-products">#}
{#                                                <div class="productinfo text-center">#}
{#                                                    <img src="images/home/recommend3.jpg" alt="" />#}
{#                                                    <h2>$56</h2>#}
{#                                                    <p>Easy Polo Black Edition</p>#}
{#                                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">#}
{#                                <i class="fa fa-angle-left"></i>#}
{#                            </a>#}
{#                            <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">#}
{#                                <i class="fa fa-angle-right"></i>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div><!--/recommended_items-->#}

                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
<script type="text/javascript">
    $('.owl-carousel').owlCarousel({
        center: true,
        items:2,
        loop:false,
        margin:10,
        responsive:{
            600:{
                items:4
            }
        }
    });

    $( "body" ).delegate('.owl-item img', 'click', function () {
        var url = $(this).attr('src');

        $("#active-image")
            .fadeOut(400, function() {
                $("#active-image").attr('src',url);
            })
            .fadeIn(400);
    });
</script>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">
{% endblock %}