{% extends 'front/base.html.twig' %}
{% block section %}
    {% if layoutType == 'product-wishlist'  %}
        {% set title = 'İstek Listem' %}
    {% elseif layoutType == 'product-management' %}
        {% set title = 'Ürünlerim' %}
    {% endif %}
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="{{ path('home') }}">Ana Sayfa</a></li>
                <li class="active">{{title}}</li>
            </ol>
        </div><!--/breadcrums-->

        <div class="step-one">
            <h2 class="heading">{{title}}</h2>
        </div>
        <div class="row m-b-10">
            <div class="col-sm-12">
                <div class="row mb-20">
                    <div class="col-sm-10"></div>
                    <div class="col-sm-2 col-sm-2 text-right">
                        {% if layoutType == 'product-management'  %}
                            <a href="{{ path('user_product_add') }}" class="btn btn-sm btn-success"><i class="fa fa-plus"></i> Ekle</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive cart_info ">
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="image">İsmi</td>
                    <td class="description"></td>
                    <td class="price">Fiyatı</td>
                    <td class="quantity">Adet</td>
                    {% if layoutType == 'product-management'  %}
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td class="cart_product">
                            {% set thumbnail = product.images[0].url | default('assets/images/user/product/none-img.png') %}
                            <a href="{{ path('product_detail',{'handle':product.handle}) }}" class="position-relative {% if product.isSold %}sold{% endif %}"><img class="img-thumbnail img-thumbnail-sm " src="{{ asset(thumbnail ) }}" alt=""></a>
                        </td>
                        <td class="cart_description">
                            <a href="{{ path('product_detail',{'handle':product.handle}) }}" class="f-15">{{ product.title }}</a>
                            <p># {{ product.id }}</p>
                        </td>
                        <td class="cart_price">
                            <p>{{ product.price }}₺</p>
                        </td>
                        <td class="cart_quantity">
                            <p>{{ product.quantity }}</p>
                        </td>
                        {% if layoutType == 'product-management'  %}
                        <td>
                            {% if product.isSold %}
                                <span class="text-success">
                                <i class="fa fa-check"></i> Ürün Satıldı
                                </span>
                            {% else %}
                                <a class="cart_quantity_delete btn btn-success" href="{{ path('user_product_set_sold',{'id':product.id}) }}"><i class="fa fa-check"></i> Satıldı Olarak Ayarla</a>
                            {% endif %}
                        </td>
                            <td>
                                {% if product | exchangeableProduct %}
                                    <a href="{{ path('product_exchange_list',{'id':product.id}) }}" class="btn btn-info">Takas Teklifleri</a>
                                {% endif %}
                            </td>
                        <td>
                            {% if product.isSold == 0 %}
                            <a class="cart_quantity_delete btn btn-info" href="{{ path('user_product_edit',{'id':product.id}) }}"><i class="fa fa-pencil"></i></a>
                            {% endif %}
                        </td>
                        <td>
                            <a class="cart_quantity_delete btn btn-danger" href="{{ path('user_product_set_delete',{'id':product.id}) }}"><i class="fa fa-times"></i></a>
                        </td>
                        {% endif %}
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">
                            Ürünün Bulunmuyor.
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->
{% endblock %}